body    {
    background-color: #f5f5dd;
}
div {
    background-color: black;
}
.square1    {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
}
.square2    {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
}
.square3    {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}
.square4    {
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
}